---
############################################################
#    PROJECT  : MALT (MALoc Tracker)
#    DATE     : 09/2024
#    LICENSE  : CeCILL-C
#    FILE     : .gitlab-ci.yml
#-----------------------------------------------------------
#    AUTHOR   : Sébastien Valat - 2015 - 2024
#    AUTHOR   : Sébastien Valat (INRIA) - 2024
############################################################
image: gcc

before_script:
  - apt update
  - apt-get install -y libunwind-dev nodejs npm cmake libelf-dev graphviz libssl-dev libpython3-dev

build:
  stage: build
  script:
    - rm -rfv build testinstall
    - mkdir build
    - cd build
    - ../configure --enable-tests --enable-debug --enable-junit-output
    - make

test:
  stage: test
  script:
    - ctest --output-on-failure
